footer {
  width: 100%;
  height: map-get($map: $bloc-size, $key: footer-height);
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  border-top: 2px solid #a1c181;
  & a {
    color: $color-secondary;
    text-decoration: none;
    padding-left: $footer-padding;
    padding-right: $footer-padding;
    &:hover {
      animation-name: wiggle;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}
