body {
  margin: 0;
}

a {
  text-decoration: none;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: $margin;
  margin-bottom: $margin * 2.5;
  justify-content: center;
  align-items: center;
}

.menu__row {
  max-width: 1200px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (max-width: 1060px) {
    flex-direction: column;

    align-items: center;
  }
  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

section {
  & .link {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 700px;
    transition: all 400ms;
    opacity: 1;
    &:hover {
      transform: scale(1.1);
      opacity: 0.5;
    }
    & p {
      margin-top: 0;
    }
  }
}

button {
  width: 50%;
  height: map-get($map: $bloc-size, $key: button-height);
  justify-self: center;
  background-color: $color-primary;
  color: $color-secondary;
  border-radius: 20px;
  box-shadow: none;
  border: none;
  @media screen and (max-width: 1060px) {
    width: 536px;
    align-items: center;
  }
  @media screen and (max-width: 600px) {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 95%;
  }
  & span {
    animation-name: PtsSuspension;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
  }
  & span:nth-child(2) {
    animation-delay: 330ms;
  }
  & span:nth-child(3) {
    animation-delay: 660ms;
  }
}

.menu__first {
  background-color: $color-back-first;
  & p {
    color: $color-font-first;
  }
  & h2 {
    margin-top: 0;
    color: $color-font-first;
  }
  & i {
    background: -webkit-linear-gradient(right, #f78f6a, #f04a5e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: map-get($map: $font-size, $key: button);
  }
  max-width: 536px;
  width: 45.66%;
  height: map-get($map: $bloc-size, $key: section-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 6px #f1f1f1;
  margin-bottom: $margin;
  @media screen and (max-width: 1060px) {
    flex-direction: column;
    width: 536px;
    align-items: center;
  }
  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}

.menu__second {
  background-color: $color-back-second;
  & p {
    color: $color-font-second;
  }
  & h2 {
    background: -webkit-linear-gradient(
      bottom right,
      #6e4ccc,
      $color-font-second
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  max-width: 536px;
  width: 45.66%;
  height: map-get($map: $bloc-size, $key: section-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 6px #f1f1f1;
  margin-bottom: $margin;
  @media screen and (max-width: 1060px) {
    flex-direction: column;
    width: 536px;
    align-items: center;
  }
  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}

.menu__third {
  background-color: $color-back-third;

  & p {
    color: $color-font-third;
  }
  & h2 {
    background: -webkit-linear-gradient(
      bottom right,
      $color-font-third,
      #0431df
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
  }
  max-width: 536px;
  width: 45.66%;
  height: map-get($map: $bloc-size, $key: section-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 6px #f1f1f1;
  margin-bottom: $margin;
  @media screen and (max-width: 1060px) {
    flex-direction: column;
    width: 536px;
    align-items: center;
  }
  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}

.menu__fourth {
  background-color: $color-back-fourth;
  & p {
    color: $color-font-fourth;
  }
  & h2 {
    background: -webkit-linear-gradient(bottom right, #bfff7e, #3d9339);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  max-width: 536px;
  width: 45.66%;
  height: map-get($map: $bloc-size, $key: section-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 6px #f1f1f1;
  margin-bottom: $margin;
  @media screen and (max-width: 1060px) {
    flex-direction: column;
    width: 536px;
    align-items: center;
  }
  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}
