.mentions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  & h2 {
    @media screen and (max-width: 650px) {
      font-size: 20px;
    }
  }
  & h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 650px) {
      font-size: 16px;
      text-align: center;
    }
  }
}
